megaavr/tools/python3/*
*.pyc
*.pyc
.DS_Store
megaavr/python3/_contextvars.pyd
megaavr/python3/_ctypes.pyd
megaavr/python3/_decimal.pyd
megaavr/python3/_elementtree.pyd
megaavr/python3/_hashlib.pyd
megaavr/python3/_lzma.pyd
megaavr/python3/_msi.pyd
megaavr/python3/_multiprocessing.pyd
megaavr/python3/_overlapped.pyd
megaavr/python3/_queue.pyd
megaavr/python3/_socket.pyd
megaavr/python3/_sqlite3.pyd
megaavr/python3/_ssl.pyd
megaavr/python3/libcrypto-1_1.dll
megaavr/python3/libssl-1_1.dll
megaavr/python3/pyexpat.pyd
megaavr/python3/python.exe
megaavr/python3/python3.dll
megaavr/python3/python3.exe
megaavr/python3/python37._pth
megaavr/python3/python37.dll
megaavr/python3/python37.zip
megaavr/python3/pythonw.exe
megaavr/python3/select.pyd
megaavr/python3/sqlite3.dll
megaavr/python3/unicodedata.pyd
megaavr/python3/vcruntime140.dll
*.pyd
